html,
body {
   margin:0;
   padding:0;
   height:100%;
}
#comments{
	
	
	margin-left:50px;
	text-align:left;
	font-family: 'Nosifer', cursive; /* Remove or change */
	}
#beer{
	margin-top:10px;
	}
#video{
	position:absolute;
	margin-left:450px;}
#craci{
	position:absolute;
	margin-left:450px;}

#header {
	
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000', endColorstr='#FFFFFF'); /* for IE */
background: -webkit-gradient(linear, left top, left bottom, from(#000), to(#fff)); /* for webkit browsers */
background: -moz-linear-gradient(top,  #000,  #fff); /* for firefox 3.6+ */
   padding:10px;
}

#footer {
   position:absolute;
   bottom:0;
   width:100%;
   height:60px;   /* Height of the footer */
   background:white;
   color: black;

   text-align: right;
   
}